

  /* duplicated in base style for none h2 uses */
  h2.heading-lg {
`
  }


  h2.large-heading {}
  /* duplicated in base style for none h2 uses */
  h2.heading-md {

  }

  h3.sub-heading {
 
  }

  h3.heading{
    
  }


  h3.large-heading-serif {
    
  font-size: 2.0rem;
  font-family: var(--heading-font-serif-family);
  font-weight: 300;
  line-height: 1.2;
  text-wrap: balance;
  text-transform: none;
  }
@media (max-width: 768px) {
  h3.large-heading-serif {
    font-size: 1.6rem;
  }
}

  a.button {
    border: 1px solid;
    font-family: var(--heading-font-sans-family);
  }

  a.button-featured {
    color: var(--colored-button-text);
    background-color: var(--colored-button-bg);
    border: 1px solid var(--colored-button-bg);
    font-family: var(--heading-font-sans-family);
  }
  
  a.simple_link{
    text-decoration: underline;
  }

  p.p-subtle {
    opacity: 0.8;
    font-size: 0.8rem;
  }


p.float-images-right{
    color: inherit;
    min-height: 15px;
}

p.float-images-left{
    color: inherit;
    min-height: 15px;
}




.canela-heading {
    font-family: 'Canela-heading', serif;
}
.canela-text {
    font-family: 'Canela-text', serif;
}

.engravers-gothic {
    font-family: var(--heading-font-sans-family);
}