
<section class="contact-form">
      <div class="max-width">
          <div class="mx-auto mb-12">
            <h2>Get in touch</h2>
          </div>
            <form method="post" action="/success" class="mx-auto grid grid-cols-2 gap-x-16 gap-y-12">
              <div class="col-span-2">
                <label for="question" class="uppercase">Question</label>
                <input type="text" id="question" name="question" placeholder="I want to know about..." class="placeholder:text-inherit" required>
              </div>
              <div class="">
              <label for="name" class="uppercase">Name</label>
                <input type="text" id="name" name="name" placeholder="Your Name" class="placeholder:text-inherit" required>
              </div>           
              <div class="">
                 <label for="name" class="uppercase">Email</label>
                 <input type="text" id="Email" name="Email" placeholder="Your Email" class="placeholder:text-inherit" required>
              </div>

              <div class="col-span-2">
                <label for="message">Message</label>
                <textarea class="placeholder:text-inherit resize-none col-span-2" rows="4" name="message" placeholder="Your Message" required></textarea>
              </div>
            
              <!-- <input type="hidden" name="inbox_key" value="sukhavatibali"> -->
              <input type="hidden" name="_to" value="#">
              <input type="text" name="_gotcha" style="display: none;">
            <div class="text-center scheme-dark col-span-2">
              <input class="border border-[currentcolor] inline-block bg-base border-solid px-5 py-2 w-min" type="submit" value="Send Message">

            </div>
          </form>
      </div>
    </section>

