
<section class="flex justify-center items-center">
      <div class="max-width
      {% case block.text-alignment %}
      {% when 'right' %}
          text-right
      {% when 'center' %}
          text-center
      {% else %}
      {% endcase %}"
       {% if block.content-max-width %} style="max-width: {{block.content-max-width}} "{% endif %}>
          <div class="">
            <h2>
              {{block.heading}}
            </h2>
            <div class="grid" style="grid-template-columns: repeat({{block.column-count}});">
              {% for link in block.buttons %}
              <div>
                <a href="{{link.url}}" class="button-featured" {%if link.external-link = true %} target="_blank" {% endif %} {%if link.download = true %} download="" {% endif %}>{{link.text}}</a>
              </div>
              {% endfor %}
            </div>
          </div>
      </div>
    </section>


<style>
       #section-{{forloop.index}} section{
        min-height: {{block.min-height}};
      }
</style>