
<section class="flex justify-center items-center px-0">
      <div class="max-width
      {% case block.text-alignment %}
      {% when 'right' %}
          text-right
      {% when 'center' %}
          text-center
      {% else %}
      {% endcase %}">
          <div class="">
            <div class="grid lg:grid-cols-3 gap-12">
              <div class="col-span-2 {% if block.desktop-image-position == 'right' %} lg:order-2 {% endif %}">
                <div class="relative mb-16 w-screen max-w-full img-holder">
                  <img class="h-full w-[80%] lg:w-[120%] lg:max-w-[120%] object-cover absolute top-0 {% if block.desktop-image-position == 'right' %} right-0 xl:right-side {% else %}  xl:left-side {% endif %} bottom-0" src="{{block.image}}" alt="{{block.image-alt}}">
                </div>
              </div>
               <div class="scheme-{{block.text-column.color-scheme}} bottom-ver {% if block.desktop-image-position == 'left' %} right-side {% else %} left-side {% endif %} absolute w-[calc(80vw_-_var(--side-gap))] md:w-[calc(40vw_-_var(--side-gap))] lg:w-full lg:relative z-10 self-end">
                <div class="bg-base p-8">
                  {{block.text-column.block-content-html}}
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>

<style>
       #section-{{forloop.index}} section{
        min-height: {{block.min-height}};
      }


     #section-{{forloop.index}} .img-holder {
        aspect-ratio: 283/169;
      }
@media (min-width: 1024px) {
  #section-{{forloop.index}}    .img-holder {
        aspect-ratio: 283/169;
      }
    }
</style>