
<section>
      <div class="max-width w-full">
        {% for style in block.room-style %}
        <div class="scheme-base style-set {% unless forloop.first %} mt-vert {% endunless %}">
          <div class="flex justify-between flex-wrap">
            <h2 class="shrink-0">{{style.heading}}</h2>
            <div class="shrink-0 flex justify-end flex-wrap max-w-full">
              {% for room in style.rooms %}
              <span class="button bg-base filter-button {% if forloop.first %} active {% endif %}" data-filter="{{forloop.index0}}">{{room.name}}</span>
              {% endfor %}
            </div>
          </div>
          <div>

            <div class="grid grid-cols-2 gap-4 bg-base">
              <div class="relative" style="aspect-ratio: 217/148;">
                <img class="h-full w-full inset-0 absolute object-cover object-center" src="{{style.img}}" alt="{{style.heading}}">
              </div>
              {% for room in style.rooms %}
              <div class="filter-target bg-base {% if forloop.first %} active {% endif %} items-center p-8">
                <div>
                  
                  <h2>{{room.name}}</h2>
                  <div class="">
                    <span class="pr-16">
                      {{room.size}} SQ/FT
                    </span>
                    <span class="pr-16">
                      {{room.bed-size}}
                    </span>
                    <span>
                      {{room.sleeps}} Guests
                    </span>
                    {% for extra-feature in room.extra-feature %}
                      <span>{{extra-feature}}</span>
                    {% endfor %}
                  </div>
                  <div>
                    <p>
                      {{room.content}}
                    </p>
                    <p class="scheme-dark">
                      <a href="/" class="button-featured"> Reserve Now</a>
                    </p>

                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </section>


<style>
       #section-{{forloop.index}} section{
        min-height: {{block.min-height}};
      }

.filter-button {
transition: all .5s;
border-color:#D5E3DD
}

.filter-button:not(.active) {
  background-color: #D5E3DD;
  /* color: var(--colored-button-text); */
}

      .filter-target{
        display: none;
      }
      .filter-target.active{
        display: flex;
      }

</style>
<script>
  const styles = document.querySelectorAll('.style-set')

styles.forEach(style => {
  let filterButtons = style.querySelectorAll('span[data-filter]')
  let slides = style.querySelectorAll('.filter-target')
  let currentIndex = 0

  function updateSlide(x) {
      slides.forEach(slide => {
        slide.classList.remove('active');
      if (slides[x] == slide)
      slide.classList.add('active') 
      })
      console.log('something happened')
        
  }

  filterButtons.forEach(button => {
    let target = button.dataset.filter
    console.log(target)
    button.addEventListener('click', () => {
      filterButtons.forEach(eachButton => {
        eachButton.classList.remove('active')
      })
      button.classList.add('active')
      updateSlide(target)
      console.log('something happened')

    })

  })

  
})

</script>