<section class="split-banner-slider {{block.carousel.desktop-image-position}} relative
{{block.scheme.text-section-style}}
">


      <div class="max-width bg-base relative z-10 grid gap-8 justify-center items-center md:grid-cols-10">

      <div class=" gallery col-span-6 p-8 {% if block.carousel.desktop-image-position == 'right' %} md:order-3 {% endif %}">
        <div class="aspect-square relative">
          
          {% for slide in block.carousel.slides %}
              <img src="{{slide.img}}" alt="{{slide.alt-text}}" class="inset-0 slide absolute object-cover object-center {% if forloop.first %} active {% endif %}" />
          {% endfor %}
        </div>
          

        <div class="h-16 flex justify-center items-center gap-0 text-center">
          {% assign initialDots = block.carousel.desktop-columns %}
            {% for dots in block.carousel.slides %}
            <span class="px-2 py-4 inline-block" data-number="{{forloop.index0}}">
              <span class="mx-1 line {% if forloop.first%} filledIn {% endif %}"> 

            </span>

            </span>
            {% endfor %}
          </div>
      </div>
      <div class="col-span-4">
             {% if block.content.subHeading %}<h3 class="sub-heading">{{block.content.subHeading}}</h3>{% endif %}
            {% if block.content.heading %}<h2 class="heading-lg">{{block.content.heading}}</h2>{% endif %}
            {{block.content.p-text}}
            {% for button in block.content.buttons %}
            <p class="scheme-{{button.button-color}}"><a href="{{button.url}}" class="button-featured bg-base">{{button.text}}</a></p>
            {% endfor %}
      </div>
    <style>
     

      @media (max-width: 768px) {
        #section-{{forloop.index}} .slide {
          flex-basis: calc((110% / {{block.carousel.mobile-columns}}));
          flex-shrink: 0;
        }
      }




    </style>

<script>

</script>

</section>