<section class="split-banner-slider relative
{{block.scheme.text-section-style}}
">


      <div class="max-width bg-base relative z-10 grid gap-8 justify-center items-center grid-cols-10">

      <div class=" gallery col-span-6 p-8">
        <div class="aspect-square relative">
          
          {% for slide in block.carousel.slides %}
              <img src="{{slide.img}}" alt="{{slide.alt-text}}" class="inset-0 slide absolute object-cover object-center {% if forloop.first %} active {% endif %}" />
          {% endfor %}
        </div>
          

        <div class="h-16 flex justify-center items-center gap-4 text-center">
          {% assign initialDots = block.carousel.desktop-columns %}
            {% for dots in block.carousel.slides %}
            <span class="mx-1 dots {% if forloop.first%} filledIn {% endif %}" data-number="{{forloop.index0}}"> 
              <svg width="32" height="32" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2.82837" y="0.353553" width="3.5" height="3.5" rx="0.75" transform="rotate(45 2.82837 0.353553)" stroke="#003B49" stroke-width="0.5"/></svg>
            </span>
            {% endfor %}
          </div>
      </div>
      <div class="col-span-4">
             {% if block.content.subHeading %}<h3>{{block.content.subHeading}}</h3>{% endif %}
            {% if block.content.heading %}<h2 class="heading-lg">{{block.content.heading}}</h2>{% endif %}
            {{block.content.p-text}}
            <p><a href="#" class="button-featured">View menu</a></p>
      </div>
    <style>
     
     .split-banner-slider .slide {
          width: 80%;
          height: 80%;
          top: 10%;
          left: -90%;transition: all 0.5s ease;
      }

      .split-banner-slider .slide.active {
          left: 0;
          top:0;
          width: 100%;
          height: 100%;
      }


      .dots {
        transition: all 0.3s ease;
      }

      .dots svg rect {
        stroke: var(--text-color);
        transition: all 0.4s ease;
      }
      .dots.filledIn svg rect {
        fill: var(--text-color);
      }


      @media (max-width: 768px) {
        #section-{{forloop.index}} .slide {
          flex-basis: calc((110% / {{block.carousel.mobile-columns}}));
          flex-shrink: 0;
        }
      }




    </style>

<script>

</script>

</section>