<!DOCTYPE html>
<html lang="en" class="hide-scrollbars">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <!-- google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    


    <link rel="icon" type="image/x-icon" href="{{page.seo.favicon | default: site.data.seo.favicon_image}}">
    
    
    
    <link rel="stylesheet" href="/editor.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <!-- meta-fields -->
    <title>{{page.seo.title | default: site.data.seo.title }}</title>
    <meta name="description" content="{{page.seo.description | default: site.data.seo.description}}">
    <meta property="og:image" content="{{page.data.seo.image | default: site.data.seo.image}}"/>
    
    <meta name="google" content="nositelinkssearchbox">
    {% if site.data.seo.google-site-verification %}
      {{site.data.seo.google-site-verification}}
    {% endif %}
    
    
    {% if page.seo.index == true %}
      <meta name="robots" content="all">
    {% else %}
      <meta name="robots" content="none">
    {% endif %}
    

<style>

  @font-face {
      font-family: 'Canela-heading'; 
      src: url('/fonts/Canela-Family/Canela-Light-Trial.otf') format('opentype');
  }

  @font-face {
      font-family: 'Canela-text'; 
      src: url('/fonts/Canela-Text-Family/CanelaText-Light-Trial.otf') format('opentype');
  }


  @font-face {
  font-family: "Engravers-gothic";
  src: url("/fonts/EngraversGothic-Ext.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Engravers Bold */
@font-face {
  font-family: "Engravers-gothic";
  src: url("/fonts/EngraversGothic-BoldExt.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

    :root{
        --max-width: {{site.data.style.max-width}}px;
        --side-gap: {{site.data.style.horizontal-padding}};
        --vert-gap: {{site.data.style.vertical-padding}};
        --animation-speed: {{site.data.style.animation-speed}};
        --small-padding: {{site.data.style.small-padding}};
        --heading-font-serif-family: 'Canela-heading', serif;
        --heading-font-sans-family: 'Engravers-gothic', sans-serif;
        --body-font-family: 'Canela-text', sans-serif;
    }

    body{
        --max-width-side-padding: max({{site.data.style.horizontal-padding}},  calc( calc(100vw - var(--max-width)) / 2) );
    }
    :root,{% for scheme in site.data.style.schemes %}
        .scheme-{{scheme.scheme_name}} {
            --bg-color: {{scheme.bg-color}};
            --text-color: {{scheme.text-color}};
            --colored-button-bg: {{scheme.colored-button-bg-color}};
            --colored-button-text: {{scheme.colored-button-text-color}};
        }
    {% endfor %}

</style>


</head>

<body>
  <div class="absolute w-full top-0 z-50" id="header" style="--text-color: {{page.header.text-color}}; --bg-color: {{page.header.background-color-mobile}}">
  <header class="bg-base xl:!bg-transparent">
    <div class="max-width flex justify-center items-center py-4 relative z-[999]">
      
      <div class="xl:hidden">
        <div class="burger-button">
          <span class="burger-top"></span>
          <span class="burger-middle"></span>
          <span class="burger-bottom"></span>
        </div>
      </div>
      
      <div class="text-center py-4">
          <div style="width: 9rem; max-width: 35vw;
  margin: auto;">
          <a href="/">
            {% include svg/Regent-Logo-SVG.html %}
        
          </a>
        </div>
      </div>
      <nav class="max-width justify-between hidden xl:flex right-0 top-0 shrink-0">
        

      {% assign noH1 = true %}
      {% for link in site.data.navigation.header_links %}
      <span 
      class="text-left inline-block drop-finder p-[15px]
        {% if link.sub_links %}
          relative
        {% endif %}
        ">
            {% if link.link %}
            <a class="engravers-gothic uppercase" href="{{link.link}}">
            {% else %}
            <span class="unlinked engravers-gothic uppercase">
            {% endif %}
              {{link.text}}
            {% unless link.link %}
            </span>
            {% else %}
            </a>
            {% endunless %}

        {% if link.sub_links %} 
            <div class="absolute left-0 top-12 z-10 drop-down color-set min-w-min hidden">
              {% for sub-link in link.sub_links %}
              <a class="block whitespace-nowrap p-4" href="{{sub-link.link}}">{{sub-link.text}}</a>
              {% endfor %}
            </div>
          {% endif %}
      </span>
      {% endfor %}

      </nav>
      
      <a href="#" class="absolute xl:static right-0 button-featured ml-[15px] !hidden md:!block !border-0" style="background-color: #D5E3DD; color: #000">Book Now</a>


    </div>
  
      
       <div class="burger-menu color-set lg:!hidden">

        <!-- <a href="/">
          <img class="mix-blend-multiply" style="max-width: min({{site.data.navigation.header_logo_width}}, 100%)" src="{{site.data.navigation.logo_image}}" alt="{{site.data.navigation.logo_alt}}">
        </a>
        <a href="https://bookings.sukhavatibali.com/en/product/panchakarma" class="button !inline-block ml-[15px]">Book Now</a> -->
        {% for link in site.data.navigation.header_links %}

        
        {% if link.sub_links %}
        <span class="main-link">{{link.text}} {% include svg/right-arrow.html %}</span>
        <div class="sub-menu bg-base">
          <span class="go-back">{% include svg/left-arrow.html %} Go back </span>
          {% for sub-link in link.sub_links %}
          <a class="block whitespace-nowrap p-4" href="{{sub-link.link}}">{{sub-link.text}}</a>
          {% endfor %}
        </div>
        {% else %}
        
        <a class="main-link" href="{{link.link}}">{{link.text}}</a>
        {% endif %}


          {% endfor %}


      </div>
    </header>
  </div>



  {% if page.blocks %}
    
    {% for block in page.blocks %}
          <div class="scheme-{{block.color-scheme}} relative" id="section-{{forloop.index}}">
            {% comment %} to figure out what block you added in inspect {% endcomment %}
              <!--{{block._id}} -->
              {% include /block/{{block._id}}.html %}
          </div>
          <!-- script check -->
        {% if block._id == 'accordion' %}
          {% assign hasAccordion = true %}
        {% endif %}

        {% if block._id == 'ticket-banner' %}
          {% assign hasTicketBanner = true %}
        {% endif %}
        {% if block._id == 'banner-video' %}
          {% assign hasVideo = true %}
        {% endif %}
        {% if block._id == 'banner-split-video' %}
          {% assign hasVideo = true %}
        {% endif %}

        {% if block._id == 'slider' %}
          {% assign hasSlider = true %}
        {% endif %}
        {% if block._id == 'slider-blog-loop' %}
        {% assign hasSlider = true %}
        {% endif %}

        {% if block._id == 'horizontal-scroll-basic' %}
          {% assign hasCSSSlider = true %}
        {% endif %}
        {% if block._id == 'horizontal-scroll-spaces' %}
          {% assign hasCSSSlider = true %}
        {% endif %}
    {% endfor %}

  {% else %}
    <section>
      <div class="max-width">
        {{content}}
      </div>
    </section>
  {% endif %}

  <!-- footer -->
{% include footer.html %}


{% if hasVideo == true  %}

<script>

addEventListener("load", (event) => {
  const lazyVideos = document.querySelectorAll('.lazy-vid');
  lazyVideos.forEach(vid => {
    let sources = vid.querySelectorAll('source');
    console.log(sources)
    sources.forEach(source => {
      source.src = source.dataset.src
    })
    
    vid.load()
  })

})
</script>

{% endif %}







{% if hasSlider == true  %}
<!-- slick css -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- slick js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endif %}


  




<script>

  const burgerButton = document.querySelector('.burger-button')
  const burgerMenu = document.querySelector('.burger-menu')
  const burgerSecondLevelButton = burgerMenu.querySelectorAll('span.main-link')
  const burgerSecondLevelMenus = burgerMenu.querySelectorAll('.sub-menu')
  const burgerGoBack = burgerMenu.querySelectorAll('.go-back')



  function toggleBurger() {
    burgerButton.classList.toggle('active')
    burgerMenu.classList.toggle('active')
    burgerSecondLevelMenus.forEach(menu => {
      menu.classList.remove('active')
    })
  }

  burgerButton.addEventListener('click', ()=> {
    toggleBurger()
  })

    console.log('worked here')

  
console.log(burgerButton,burgerMenu,burgerSecondLevelButton,burgerGoBack)

  burgerSecondLevelButton.forEach(button => {
    button.addEventListener('click', () => {
      button.nextElementSibling.classList.add('active')
    })
  })
    burgerGoBack.forEach(button => {
    button.addEventListener('click', () => {
      button.parentElement.classList.remove('active')
    })
  })



// universal functions

function passHeightUp(target) {
    target.parentElement.parentElement.style.setProperty('--true-height',  `${target.offsetHeight}px` )
  }




{% if hasAccordion == true %}
  const buttons = document.querySelectorAll(".expandButton");
  const dropSecs = document.querySelectorAll(".drop-sec");

  dropSecs.forEach(sec => {
    passHeightUp(sec.querySelector(".content"))
  })

  onresize = (event) => {
    dropSecs.forEach(sec => {
      passHeightUp(sec.querySelector(".content"))
  })

  };

  
  function showMore() {
      this.nextElementSibling.classList.toggle('collapsed');
      this.classList.toggle('open')
  }

  buttons.forEach(button => {
    button.addEventListener('click', showMore)
  }
  )

  {% endif %}



  {% if hasCSSSlider == true  %}
  const cssSliders = document.querySelectorAll('.cssSlider');
  console.log(cssSliders)
  cssSliders.forEach(slider => {
    let scrollContainer = slider.querySelector('.scroll-container');
    let scrollItems = slider.querySelectorAll('.scroll-item');
    let scrollLeftButton = slider.querySelector('.scroll-left');
    let scrollRightButton = slider.querySelector('.scroll-right');
    console.log('look here',scrollContainer, scrollItems, scrollLeftButton, scrollRightButton)

    function scrollLeft() {
      console.log(scrollItems[0].clientWidth, "going left")
      scrollContainer.scrollBy({
        left: -scrollItems[0].clientWidth,
        behavior: 'smooth'
      });
    }

    function scrollRight() {
      console.log(scrollContainer.clientWidth, "going right")

      scrollContainer.scrollBy({
        left: scrollItems[0].clientWidth,
        behavior: 'smooth'
      });
    }

    scrollLeftButton.addEventListener('click', scrollLeft);
    scrollRightButton.addEventListener('click', scrollRight);
  });

  {% endif %}



  {% if hasTicketBanner == true %}
  const tickerBanners = document.querySelectorAll('.tickerBanner');

tickerBanners.forEach(banner => {



  let textBlock = banner.querySelectorAll('.text-block');

  console.log(textBlock[1].offsetWidth)

  let bannerBlock = 0;
  textBlock.forEach( block => {
    bannerBlock += block.offsetWidth
  });

  let bannerLength = bannerBlock
  console.log(bannerBlock)
  console.log(banner.dataset.bannerSpeed)
  
  
  banner.style.setProperty('--bannerBlockLength', `${bannerBlock}px`);
  banner.style.setProperty('--bannerBlockTime', `${(bannerBlock / banner.dataset.bannerSpeed )}s`);

  
  function extendBanner() {
  if (bannerLength < (screen.width + bannerBlock) ) {
    textBlock.forEach(block => {
    console.log(block.innerHTML)
    // add the newly created element and its content into the DOM
    banner.appendChild(block.cloneNode(true));
    // banner.querySelector('a:last-child').innerHTML = block.innerHTML
    // banner.querySelector('a:last-child').href = block.href
      
    });
    bannerLength += bannerBlock;
    console.log(bannerLength) 
    extendBanner()
  } else {
    banner.classList.add('active')
  }
}



  extendBanner()

  console.log(bannerLength)

})
  {% endif %}


  addEventListener("load", (event) => {

    console.log('pageloaded')
    let initDot;
    
    {% for block in page.blocks %}

    console.log('this is a {{block._id}}')
    
    {% if block._id == 'slider' %}
    
    console.log('#section-{{forloop.index}} has slider')

         $('#section-{{forloop.index}} .slider').slick({
           dots: true,
           arrows: true,
           prevArrow:  `<button type="button" class="slick-prev" aria-label="scroll-left"><svg width="15px" height="15px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="var(--text-color)"><path d="M21 12L3 12M3 12L11.5 3.5M3 12L11.5 20.5" stroke="var(--text-color)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></button>`,
           nextArrow: `<button type="button" class="slick-next" aria-label="scroll-right"><svg width="15px" height="15px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="var(--text-color)"><path d="M3 12L21 12M21 12L12.5 3.5M21 12L12.5 20.5" stroke="var(--text-color)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></button>`,
            slidesToShow: 1,
            initialSlide: 1,
            appendArrows: $('.slick-nav'),
            appendDots: $('.slick-nav'),
            centerMode: true,
            variableWidth: true,
          });
          

          {% endif %}

      {% if block._id == 'slider-blog-loop' %}
    
         $('#section-{{forloop.index}} .slider').slick({
           dots: true,
           arrows: true,
           slidesToShow: {{block.slider_column_count}},
           slidesToScroll: 1,
           initialSlide: 1,
           
           dragable: true,
           infinite: true,
           speed: 500,
           fade: false,
           cssEase: 'linear',
           responsive: [
              {
                breakpoint: 1024,
                settings: {
                  slidesToShow: 3,
                  slidesToScroll: 3,
                }
              },
              {
                breakpoint: 600,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2
                }
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1
                }
              }]
          });

          {% endif %}

          
    {% endfor %}


    // dots are out of slider would need to move html or change selector. did different aproch on line 458
    // const sliders = document.querySelectorAll(['[class*=slider]'])
    // console.log("all silders on page", sliders)

    // sliders.forEach(slider => {
    //   console.log('here',
    //     slider.querySelector('.slick-dots .slick-active')

    //   )
    //     // slider.querySelector('.slick-dots li').click()

    // })
});


// offset grid script

  const splitBannerSlider = document.querySelectorAll('.split-banner-slider');

  splitBannerSlider.forEach(slider => {
    let slides = slider.querySelectorAll('.slide');
    let slideCount = slides.length;
    let dots = slider.querySelectorAll('span[data-number]');
    let currentIndex = 0;


    dots.forEach(dot => {
      dot.addEventListener('click', () => {
        let index = parseInt(dot.getAttribute('data-number'));
        currentIndex = index;
        slide(currentIndex);
        updateDots();
      });
    });

    function updateDots() {
      dots.forEach(dot => {
        dot.querySelector('span').classList.remove('filledIn');
        // console.log(dot, currentIndex, dot.classList);
        if (dots[currentIndex] === dot) {
          dot.querySelector('span').classList.add('filledIn');
        }
      });
    }

    function slide(x) {
      slides.forEach(slide => {
        slide.classList.remove('active');
        // console.log(dot, currentIndex, dot.classList);
        if (slides[currentIndex] === slide) {
          slide.classList.add('active');
        }
      });

    };



    })

</script>

<!--
TYPING ANIMATION  -- for the id animated-text

    We .split() the original HTML by any <br/> tag, so we can treat breaks specially.

    For each non-<br/> segment, we loop its characters, wrap each in a <span>, and bump delay by letterDelay.

    When we hit a <br/>, we insert a real <br> node and bump delay by brPause (so there’s a longer pause at line breaks).

    The CSS animation simply fades each <span> in when its animation-delay is reached.

Adjust letterDelay and brPause at the top of the script to fine-tune speed.
-->

<!-- the script -->
<script>
document.addEventListener('DOMContentLoaded', () => {
  const initialDelay = 1;    // sec wait after scroll-into-view
  const letterDelay  = 0.05; // sec between letters
  const brPause      = 0.5;  // extra sec pause at each <br/>
  const fadeDur      = 0.3;  // must match your CSS fadeIn duration
  const cyclePause = 2; // seconds to pause before repeating the animation

  const container = document.getElementById('animated-text');
  if (!container) return;

  // 1) Split original HTML into text chunks and <br/> tokens
  const parts = container.innerHTML.split(/(<br\s*\/?>)/i);
  container.innerHTML = '';  // clear it out

  // 2) Wrap every character in a span.char, record maxDelay
  let delay = 0;
  let maxDelay = 0;
  parts.forEach(part => {
    if (/^<br/i.test(part)) {
      container.appendChild(document.createElement('br'));
      delay += brPause;
    } else {
      part.split('').forEach(ch => {
        const span = document.createElement('span');
        span.textContent = ch;
        span.classList.add('char');
        span.style.setProperty('--delay', delay + 's');
        container.appendChild(span);
        maxDelay = Math.max(maxDelay, delay);
        delay += letterDelay;
      });
    }
  });

  // 3) Define a reusable cycle function
  function runCycle() {
    container.classList.remove('animate');   // reset all opacity→0
    void container.offsetWidth;              // force reflow
    container.classList.add('animate');      // kick off fade-in
    // schedule next repeat
    const totalMs = (maxDelay + fadeDur + cyclePause) * 1000;
    setTimeout(runCycle, totalMs);
  }

  // 4) Wait for scroll-into-view, then start the loop after initialDelay
  const observer = new IntersectionObserver((entries, obs) => {
    if (entries[0].isIntersecting) {
      setTimeout(runCycle, initialDelay * 1000);
      obs.disconnect();
    }
  }, { threshold: 0.1 });

  observer.observe(container);
});
</script>




{% include popup-code.html %}




</body>